body {
    background-color: #585372;
}


.container {
    display: flex;
    flex-flow: row wrap;
    width: 98vw;
    margin: auto
}
header {
    display: flex;
    flex-direction: row;
    width: 100%
}

article {
    background-color: white;
    border: #C1F3F2 2px solid;
    padding: 1%;
    border-radius: 10px 10px;
    margin:auto;
    margin-top: 2%;
    width: 100%;
}

#main-nav, a {
    font-family:monospace;
    color: #DFABD2;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}



.header {
    color: pink;
    font-family: 'Bungee Outline', cursive;
    font-size: 30px;
    padding: 24px;
    width: 80%;
}

hr {
    color: #C1F3F2;
    border: 2px solid;
}

footer {
    font-family:monospace;
    color: #DDE045;
    font-size: large;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

h2 {
    font-family:monospace;
}

#keyboard {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 1%
}

p {
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

